#####################
#     DIRECTORY     #
#####################
data
vsrc/work/bin
vsrc/work/logs
vsrc/work/waves
scripts/env_setting/env
scripts/env_setting/envs
result

#####################
#     FILE TYPE     #
#####################
# ignore all content
csrc/**
# save dirs
!csrc/**/
# white list
!csrc/**/*.c
!csrc/**/*.h
!csrc/**/*.cpp
*.txt
stack.info.*

######################
#     TOOL CACHE     #
######################
**/verdiLog
**/novas*.*
**/ucli.key

###########################
#     SPECIAL SETTING     #
###########################
